.numeros-grid{
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap:30px;
}

.numeros-grid h3 {
  font-size: 2rem;
  font-family:'Courier New', Courier, monospace;
  margin-bottom: .5rem;
}

.numeros-grid span{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: blueviolet;

}