.tolltip{
    position: absolute;
    z-index: 20;
    background: rgba(0,0,0,.6);
    box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0,0,0,.6);
    padding: .5rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: .875rem;
    max-width: 180px;
    border-radius: 2px;
}